<mat-toolbar class="d-flex justify-content-between text-light">
  <div>
   <span class="cursorStyle" (click)='root()'><span class="incoText " >Inco</span> <span class="chatText">-Chat</span></span>
  </div>
 <div class="signLog">
   <span class="incoText" style="cursor: pointer;" (click)='logout()'>Logout</span>
 </div>
 </mat-toolbar>
<div class="layout" >
  <div class="container">
    <div class="d-none d-lg-flex justify-content-end">
      <button class="mt-3" data-step="2" data-intro="Click on the button to create new chatRoom" mat-raised-button (click)="createChatRoom()" ><mat-icon>add</mat-icon> Add new chat room</button>
    </div>
  </div>
</div>

<div class="addChatMbl d-lg-none">
<button mat-fab mat-raised-button class="buttonColor" data-step="2" data-intro="Click on the button to create new chatRoom" (click)="createChatRoom()"><mat-icon>add</mat-icon></button>
</div>

<div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-6" data-step="1"  data-intro="list of your chatRooms">

    <mat-tab-group >
      <mat-tab label="My ChatRooms" >
        <div class="chatListCard mt-2" >
          <ul class="list-group" >
            <li class="list-group-item" *ngIf="userRooms.length<1">
              <p class="text-center textColor" ><i><b>It seems like you don't have any chatRoom, create one today!</b></i></p>
            </li>
            <li class="list-group-item"  *ngFor="let rooms of userRooms">
              <div class="d-flex align-items-center justify-content-between">
                <div>
                  <img (click)="chat(rooms.chatName)" class="cursorStyle" src="https://icon-library.com/images/group-chat-icon/group-chat-icon-16.jpg" class="ChatImage" alt="">
                </div>
                <div>
                  <span class="cursorStyle" (click)="joinPublicRoom(rooms._id,rooms.isPrivate,rooms.chatName)" > <b>{{rooms.chatName}}</b></span>

                </div>
                <div>
                  <p class="d-flex align-items-center"><mat-icon>groups </mat-icon> <small class="text-success">({{rooms.groupMembers.length}})</small></p>

                </div>
                <div>
                  <mat-icon class="text-muted"  *ngIf="rooms.isPrivate">lock</mat-icon>
                  <mat-icon class="text-muted" *ngIf="!rooms.isPrivate">public</mat-icon>
                  <p class="noteText" *ngIf="rooms.isPrivate"><small >(Private)</small></p>
                  <p class="noteText" *ngIf="!rooms.isPrivate"><small >(Public)</small></p>
                </div>
                <div>
                  <mat-icon color='warn' class="cursorStyle" (click)="deleteChatRoom(rooms._id)">delete</mat-icon>
                </div>
              </div>
            </li>
      </ul>
      </div>
      </mat-tab>
      <mat-tab label="Chat Rooms">
        <ul class="list-group">
          <li class="list-group-item ">
            <mat-form-field >
              <input type="text" placeholder="Search ChatRoom" matInput [(ngModel)]="value">
              <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </li>
        </ul>
        <div class="chatListCard mt-2" >

        <ul class="list-group">
          <div *ngFor="let rooms of allRooms | filter:'chatName':value" (click)="joinPublicRoom(rooms._id,rooms.isPrivate,rooms.chatName)">
            <li class="list-group-item" *ngIf="rooms.creator!=currentUserId" >
              <div class="d-flex align-items-center justify-content-between ">
                <div >
                  <img  class="cursorStyle" src="https://icon-library.com/images/group-chat-icon/group-chat-icon-16.jpg" class="ChatImage" alt="">
                </div>
                <div >
                  <p><span  class="cursorStyle" > <b>{{rooms.chatName}}</b></span></p>

                </div>
                <div>
                  <p class="d-flex align-items-center"><mat-icon>groups </mat-icon> <small class="text-success">({{rooms.groupMembers.length}})</small></p>

                </div>
                <div  >

                  <mat-icon class="text-muted"  *ngIf="rooms.isPrivate">lock</mat-icon>
                  <mat-icon class="text-muted" *ngIf="!rooms.isPrivate">public</mat-icon>

                  <p class="noteText" *ngIf="rooms.isPrivate"><small >(Private)</small></p>
                  <p class="noteText" *ngIf="!rooms.isPrivate"><small >(Public)</small></p>
                </div>
                <div>
                  <small class="text-center"><b>Admin</b></small>
                  <p class="noteText text-center"><small >({{rooms.createdBy[0].userName}})</small></p>
                </div>
                <div >
                  <small style="cursor: pointer; " class="text-success joinBox" ><b>Join</b></small>
                </div>
              </div>
            </li>
          </div>
    </ul>
    </div></mat-tab>
    </mat-tab-group>
  </div>
  <div class="col-lg-3"></div>
</div>







